<div class="card match-height">
    <div class=" card-body">
        <table class="table table-bordered" id="210-table">
            <b>Case Size Detail:</b>
            <div class="">
                <div class="mg-xl-t-9-f">
                    <label for="" class=" "><b>Weight:</b>
                        <span class="">20 </span>
                   </label>
                </div>
                {% comment %} <div class="mg-xl-t-9-f">
                   <label for="" class=" "><b>Quantity:</b>
                        <span class="">210 </span>
                   </label>
                </div> {% endcomment %}
                <div class="mg-xl-t-9-f">
                    <label for="" class=" "><b>Cubic Meter Volume:</b>
                        <span class=""> 27 m³</span>
                    </label>
                </div>
            </div>
        </table>
    </div>
</div>