<div class="panel panel-primary card mb-0">
  <div class="panel-body tabs-menu-body p-0 border-0">
    <ul class="Date-time" style="padding:2px;">
      <div class="d-flex justify-content-between justify-content-center mt-3">
        {% if object %}
        <div class="col-6 main-content-label mg-b-5 text-white mt-2">
          Update Document
        </div>
        {% else %}
        <div class="col-6 main-content-label mg-b-5 text-white mt-2">
          Add Document
        </div>
        {% endif %}
        <button class="btn btn-primary  main-content-label mg-b-5 mb-3"
          onclick="$('#sidebar_form').toggleClass('sidebar-open')">
          <i class="fe fe-x" data-bs-toggle="tooltip" title="" data-bs-original-title="fe fe-x"
            aria-label="fe fe-x"></i>
        </button>
      </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
    <div class="card">
      <div class="card-body">

        <form id="document-create-form" novalidate enctype="multipart/form-data">

          {{ form.hidden_tag() }}

          <div class="col-md-12 col-12">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control",) }}
            {% if form.name.errors %}
            <ul class="errors">
              {% for error in form.name.errors %}
              <small class="form-text text-danger">{{ error }}</small>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="col-md-12 col-12">
            {{ form.attachment.label(class="form-control-label") }}
            {{ form.attachment(class="form-control",) }}
            {% if form.attachment.errors %}
            <ul class="errors">
              {% for error in form.attachment.errors %}
              <small class="form-text text-danger">{{ error }}</small>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="mt-4">

            {% if instance %}
            <button type="submit" class="btn btn-primary" data-url="{{ url_for('customer_bp.update_document' ,id=instance.id) }}" id="update_document">Save</button>
            {% else %}
            <button type="submit" class="btn btn-primary" data-url="{{ url_for('customer_bp.add_document') }}"
              id="submit_document">Save</button>
            {% endif %}
            <button type="button" class="btn btn-secondary"
              onclick="$('#sidebar_form').toggleClass('sidebar-open')">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% block script %}
<script src="{{ url_for('static', filename='assets/js/toast.js') }}"></script>

<script>
  $(document).ready(function () {
    var table = $('#documents_table').DataTable()
    var customer_id = $("#id_customer_2").val()

    $('#submit_document').on('click', function (e) {
      var $btn = $(this);
      var form = $('#document-create-form')[0];
      var formData = new FormData(form);
      var url = $(this).attr("data-url");
      formData.append('customer_id', customer_id);
      $btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          $('#sidebar_form').removeClass('sidebar-open');
          table.ajax.reload();
          $.toast({
            text: "Document Created Sucessfully !!!",
            position: 'bottom-right',
            stack: false,
            icon: 'success',
          });
        },
        error: function (xhr) {
          console.error('Form submission failed:', xhr.status, xhr.statusText);
          var response = xhr.responseJSON;
          if (response && response.errors) {
            $('#document-create-form .form-text.text-danger').remove();
            for (var field in response.errors) {
              var errors = response.errors[field];
              if (errors.length > 0) {
                var $field = $('#cdocument-create-form [name="' + field + '"]');
                $field.after('<small class="form-text text-danger">' + errors.join('<br>') + '</small>');
              }
            }
          }
          $btn.prop('disabled', false);
        }
      });
    });

    $('#update_document').on('click', function (e) {
        var url = $(this).attr("data-url")
        var $btn = $(this);
        var form = $('#document-create-form')[0];
        var formData = new FormData(form);
        formData.append('customer_id', customer_id);
        $btn.prop('disabled', true);
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#sidebar_form').removeClass('sidebar-open');
                table.ajax.reload();
                $.toast({
                    text: "Document Updated Sucessfully !!!",
                    position: 'bottom-right',
                    stack: false,
                    icon: 'success',
                });
            },
            error: function (xhr) {
                console.error('Form submission failed:', xhr.status, xhr.statusText);
                var response = xhr.responseJSON;
                if (response && response.errors) {
                    $('#document-create-form .form-text.text-danger').remove();
                    for (var field in response.errors) {
                        var errors = response.errors[field];
                        if (errors.length > 0) {
                            var $field = $('#document-create-form [name="' + field + '"]');
                            $field.after('<small class="form-text text-danger">' + errors.join('<br>') + '</small>');
                        }
                    }
                }
                $btn.prop('disabled', false);
            }
        });
    });

  });
</script>

{% endblock script %}