<div class="card match-height">
    <div class=" card-body">
        <table id="packed-order-table" class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom" style="width:100%">
            <thead>
                <tr>
                    <th >Sr No.</th>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>