<div class="card match-height">
    <div class=" card-body">
        <table id="payment-table" class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom" style="width:100%">
            <thead>
                <tr class="w-100">
                    <th>Sr No</th>
                    <th>Payment Date</th>
                    <th>Total Paid Amount ($)</th>
                    <th>Payment Mode</th>
                    <th>Reference Id</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>