{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card match-height py-3">
    {% if not request.user.role == "Warehouse Manager" %}
    <div class="card-header">
        <div class="row text-center nav-tab-wrapper tab-list" style="cursor: pointer">
            <div data-id="#tab-1-content-1" class="col-6 active-div tab-1" style="padding:20px ">Sale Order </div>
            <div data-id="#tab-1-content-2" class="col-6 inactive-div tab-1" style="padding:20px">Sale Order Request (<span class="text-primary">{{requested_order_count}}</span>)
            </div>
        </div>
    </div>
    {% endif %}

    <div id="tab-1-content-1" class="tab-1-content">
        <section id="horizontal-form-layout " >
            <div class="card match-height">
                <div class="card-header">
                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                        <h4 class="card-title d-flex align-self-center">Sales Order List<i class="fas fa-filter" onclick="filter_button()" style="display: block !important; cursor: pointer;margin-left: 10px;"></i></h4>
                        {% if not request.user.role == "Warehouse Manager" %}
                        <a href="{% url 'order:order_create' %}" class="btn btn-primary ml-sm-1">Add</a>
                        {% endif %}
                    </div>
                </div>
                <div class=" card-body">
                    <div class="">
                        <h2 class="nav-tab-wrapper">
                            <span data-id="#tab-11" data-table-id="approved_table" class="btn btn-outline-primary ml-sm-0 tab-2 nav-tab-active">Accepted</span>
                            <span data-id="#tab-22" data-table-id="loading_table" class="btn btn-outline-primary ml-sm-0 tab-2 nav-tab">Loading</span>
                            <span data-id="#tab-33" data-table-id="shipped_table" class="btn btn-outline-primary ml-sm-0 tab-2 nav-tab">On Water</span>
                            <span data-id="#tab-44" data-table-id="dispatched_table" class="btn btn-outline-primary ml-sm-0 tab-2 nav-tab">Dispatched</span>
                            <span data-id="#tab-55" data-table-id="delivered_table" class="btn btn-outline-primary ml-sm-0 tab-2 nav-tab">Delivered</span>
                        </h2>
                    </div>
                    <section id="tab-11" class="tab-content active">
                        <table class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom"
                            style="width:100%" id="approved_table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>ORDER ID</th>
                                    <th>Order Date</th>
                                    {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
                                    <th>Company</th>
                                    {% endif %}
                                    <th>Customer</th>
                                    <th>Created By</th>
                                    <th>Total Products</th>
                                    <th>Total ($)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </section>
                    <section id="tab-22" class="tab-content">
                        <table class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom"
                            style="width:100%" id="loading_table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>ORDER ID</th>
                                    <th>Order Date</th>
                                    {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
                                    <th>Company</th>
                                    {% endif %}
                                    <th>Customer</th>
                                    <th>Created By</th>
                                    <th>Total Products</th>
                                    <th>Total ($)</th>
                                    {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
                                    <th>Profit ($)</th>
                                    <th>Profit Margin (%)</th>
                                    {% endif %}
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </section>
                    <section id="tab-33" class="tab-content">
                        <table class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom"
                            style="width:100%" id="shipped_table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>ORDER ID</th>
                                    <th>Order Date</th>
                                    {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
                                    <th>Company</th>
                                    {% endif %}
                                    <th>Customer</th>
                                    <th>Created By</th>
                                    <th>Total Products</th>
                                    <th>Total ($)</th>
                                    {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
                                    <th>Profit ($)</th>
                                    <th>Profit Margin (%)</th>
                                    {% endif %}
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </section>
                    <section id="tab-44" class="tab-content">
                        <table class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom"
                            style="width:100%" id="dispatched_table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>ORDER ID</th>
                                    <th>Order Date</th>
                                    {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
                                    <th>Company</th>
                                    {% endif %}
                                    <th>Customer</th>
                                    <th>Created By</th>
                                    <th>Total Products</th>
                                    <th>Total ($)</th>
                                    {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
                                    <th>Profit ($)</th>
                                    <th>Profit Margin (%)</th>
                                    {% endif %}
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </section>
                    <section id="tab-55" class="tab-content">
                        <table class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom"
                            style="width:100%" id="delivered_table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>ORDER ID</th>
                                    <th>Order Date</th>
                                    {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
                                    <th>Company</th>
                                    {% endif %}
                                    <th>Customer</th>
                                    <th>Created By</th>
                                    <th>Total Products</th>
                                    <th>Total ($)</th>
                                    {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
                                    <th>Profit ($)</th>
                                    <th>Profit Margin (%)</th>
                                    {% endif %}
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>
    </div>

    {% if not request.user.role == "Warehouse Manager" %}
    <div id="tab-1-content-2" class="hidden tab-1-content">
        <section id="horizontal-form-layout ">
            <div class="card match-height">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex flex-sm-row flex-column justify-content-between">
                            <h4 class="card-title d-flex align-self-center">SALES ORDER REQUEST <i class="fas fa-filter" onclick="filter_button()" style="display: block !important; cursor: pointer;margin-left: 10px;"></i></h4>
                            <a href="{% url 'order:order_create' %}" class="btn btn-primary ml-sm-1">Add</a>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body table-responsive">
                            <div class="">
                                <h2 class="nav-tab-wrapper">
                                    <span data-id="#tab-1" data-table-id="requested_table" class="btn btn-outline-primary ml-sm-0 tab-2 nav-tab-active ">Requested</span>
                                    <span data-id="#tab-2" data-table-id="cancelled_table" class="btn btn-outline-primary ml-sm-0 tab-2 nav-tab">Cancelled</span>
                                </h2>
                            </div>
                            <section id="tab-1" class="tab-content active">
                                <table
                                    class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom"
                                    style="width:100%" id="requested_table">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>ORDER ID</th>
                                            <th>Order Date</th>
                                            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
                                            <th>Company</th>
                                            {% endif %}
                                            <th>Customer</th>
                                            <th>Created By</th>
                                            <th>Total Products</th>
                                            <th>Total ($)</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </section>
                            <section id="tab-2" class="tab-content">
                                <table id="cancelled_table"
                                    class="table border-top-0 table-striped  table-bordered text-nowrap border-bottom"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>ORDER ID</th>
                                            <th>Order Date</th>
                                            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
                                            <th>Company</th>
                                            {% endif %}
                                            <th>Customer</th>
                                            <th>Created By</th>
                                            <th>Total Products</th>
                                            <th>Total ($)</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endif %}
</div>

<div class="modal" id="orderHistoryModal">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-header">
                <h4 class="modal-title">Order History</h4>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body pd-x-20" id="order_history_list">
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block filters %}
<div class="event">
    <div class="row rounded py-2 mb-2 mx-n2">
        {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
        <div class="col-12 col-sm-12 col-lg-12">
            <label for="filter_company">Company</label>
            <fieldset class="form-group">
                <select id="filter_company" class="form-control">
                    <option value="" selected>All</option>
                    {% for company in company_list %}
                    <option value="{{company.id}}">{{company.name|title}}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </div>
        {% endif %}
        <div class="col-12 col-sm-12 col-lg-12">
            <label for="filter_customer">Customer</label>
            <fieldset class="form-group">
                <select id="filter_customer" class="form-control">
                    <option value="" selected>All</option>
                    {% for customer in customer_list %}
                    <option value="{{customer.id}}">{{customer.user.get_full_name|title}}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </div>
        <div class="col-12 col-sm-12 col-lg-12 d-flex align-items-center justify-content-between mt-2">
            <button type="reset" class="btn btn-primary btn-block users-list-clear glow mb-0" id="clear_search_filter">Clear</button>
        </div>
    </div>
</div> 
{% endblock filters %}

{% block script %}
<script src="{% static 'assets/webapp/tabbing.js' %}"></script>
<script src="{%  static 'assets/js/sidebar_open.js' %}"></script>

<script>
    var to_center = "_all";
    var invisible_columns = [];
    {% if request.user.role == request.user.WAREHOUSE_MANAGER or request.user.role == request.user.SALES_REPRESENTATIVE %}
    var order_false = [-1, -3];
    {% else %}
    var order_false = [-1, -2, -3];
    {% endif %}
    var url = '{% url "order:order_list_ajax" %}';
    var role = false;
    var filter_id = $("#filter_customer{% if request.user.is_superuser or requser.user.role == "Super Admin" %}, #filter_company{% endif %}");
    
    function initialize_approved_table() {
        var columns = [
            { data: 'id', name: 'id' },
            { data: 'order_id', name: 'order_id' },
            { data: 'created_at', name: 'created_at' },
            
            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
            { data: 'company', name: 'company' },
            {% endif %}

            { data: 'customer', name: 'customer' },
            { data: 'created_by', name: 'created_by' },
            { data: 'total_products', name: 'total_products' },
            { data: 'grand_total', name: 'grand_total' },
            { data: 'actions', name: 'actions' },
        ]
        order_false = [-1, -3];

        $("#approved_table").DataTable({
            scrollX: scrollX,
            columnDefs: [
                {
                    targets: to_center,
                    className: "text-center",
                },
                {
                    orderable: false,
                    targets: order_false,
                },
                {
                    targets: invisible_columns,
                    visible: true,
                },
            ],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>',
                "emptyTable": "No matching records found",
            },
            order: [],
            processing: true,
            serverSide: true,
            ajax: {
                url: url,
                type: 'get',
                data: {
                    "customer" : $("#filter_customer").val(),
                    "status" : "Accepted",
                },
            },
            columns: columns,
            rowCallback: function(nRow, aData, iDisplayIndex) {
                var oSettings = this.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });
    }

    {% if not request.user.role == "Warehouse Manager" %}
    function initialize_requested_table(){
        var columns = [
            { data: 'id', name: 'id' },
            { data: 'order_id', name: 'order_id' },
            { data: 'created_at', name: 'created_at' },
            
            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
            { data: 'company', name: 'company' },
            {% endif %}

            { data: 'customer', name: 'customer' },
            { data: 'created_by', name: 'created_by' },
            { data: 'total_products', name: 'total_products' },
            { data: 'grand_total', name: 'grand_total' },
            { data: 'actions', name: 'actions' },
        ]

        $('#requested_table').DataTable({
            columns: columns,
            columnDefs: [
                {targets: to_center, className: "dt-center"},
                {orderable: false, targets: order_false},
                {targets: invisible_columns, visible: role }
            ],
            ajax: {
                url: url,
                type: 'get',
                data: {
                    "status": "Submitted",
                    "customer": $("#filter_customer").val()
                },
            },
            processing: true,
            serverSide: true,
            order: [0 , "desc"],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>',
                "emptyTable": "No matching records found",
            },
            rowCallback: function(nRow, aData, iDisplayIndex) {
                var oSettings = this.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });
    }

    function initialize_cancelled_table(){
        var columns = [
            { data: 'id', name: 'id' },
            { data: 'order_id', name: 'order_id' },
            { data: 'created_at', name: 'created_at' },
            
            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
            { data: 'company', name: 'company' },
            {% endif %}

            { data: 'customer', name: 'customer' },
            { data: 'created_by', name: 'created_by' },
            { data: 'total_products', name: 'total_products' },
            { data: 'grand_total', name: 'grand_total' },
            { data: 'actions', name: 'actions' },
        ]

        $('#cancelled_table').DataTable({
            columns: columns,
            columnDefs: [
                {targets: to_center, className: "dt-center"},
                {orderable: false, targets: order_false},
                {targets: invisible_columns, visible: role }
            ],
            ajax: {
                url: url,
                type: 'get',
                data: {
                    "status": "Cancelled",
                    "customer": $("#filter_customer").val()
                },
            },
            processing: true,
            serverSide: true,
            order: [0 , "desc"],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>',
                "emptyTable": "No matching records found",
            },
            rowCallback: function(nRow, aData, iDisplayIndex) {
                var oSettings = this.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });
    }
    {% endif %}

    function initialize_loading_table(){
        var columns = [
            { data: 'id', name: 'id' },
            { data: 'order_id', name: 'order_id' },
            { data: 'created_at', name: 'created_at' },
            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
            { data: 'company', name: 'company' },
            {% endif %}
            { data: 'customer', name: 'customer' },
            { data: 'created_by', name: 'created_by' },
            { data: 'total_products', name: 'total_products' },
            { data: 'grand_total', name: 'grand_total' },
            {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
            { data: 'profit', name: 'profit' },
            { data: 'profit_margin', name: 'profit_margin' },
            {% endif %}
            { data: 'actions', name: 'actions' },
        ]
        {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
        order_false = [-1, -2, -3, -5];
        {% endif %}
        
        $('#loading_table').DataTable({
            columns: columns,
            columnDefs: [
                {targets: to_center, className: "dt-center"},
                {orderable: false, targets: order_false},
                {targets: invisible_columns, visible: role }
            ],
            ajax: {
                url: '{% url "order:order_list_loading_ajax" %}',
                type: 'get',
                data: {
                    "customer": $("#filter_customer").val()
                },
            },
            processing: true,
            serverSide: true,
            order: [0 , "desc"],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>',
                "emptyTable": "No matching records found",
            },
            rowCallback: function(nRow, aData, iDisplayIndex) {
                var oSettings = this.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });
    }

    function initialize_shipped_table(){
        var columns = [
            { data: 'id', name: 'id' },
            { data: 'order_id', name: 'order_id' },
            { data: 'created_at', name: 'created_at' },
            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
            { data: 'company', name: 'company' },
            {% endif %}
            { data: 'customer', name: 'customer' },
            { data: 'created_by', name: 'created_by' },
            { data: 'total_products', name: 'total_products' },
            { data: 'grand_total', name: 'grand_total' },
            {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
            { data: 'profit', name: 'profit' },
            { data: 'profit_margin', name: 'profit_margin' },
            {% endif %}
            { data: 'actions', name: 'actions' },
        ]
        {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
        order_false = [-1, -2, -3, -5];
        {% endif %}
        
        $('#shipped_table').DataTable({
            columns: columns,
            columnDefs: [
                {targets: to_center, className: "dt-center"},
                {orderable: false, targets: order_false},
                {targets: invisible_columns, visible: role }
            ],
            ajax: {
                url: '{% url "order:order_list_on_water_ajax" %}',
                type: 'get',
                data: {
                    "customer": $("#filter_customer").val()
                },
            },
            processing: true,
            serverSide: true,
            order: [0 , "desc"],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>',
                "emptyTable": "No matching records found",
            },
            rowCallback: function(nRow, aData, iDisplayIndex) {
                var oSettings = this.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });
    }

    function initialize_dispatched_table(){
        var columns = [
            { data: 'id', name: 'id' },
            { data: 'order_id', name: 'order_id' },
            { data: 'created_at', name: 'created_at' },
            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
            { data: 'company', name: 'company' },
            {% endif %}
            { data: 'customer', name: 'customer' },
            { data: 'created_by', name: 'created_by' },
            { data: 'total_products', name: 'total_products' },
            { data: 'grand_total', name: 'grand_total' },
            {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
            { data: 'profit', name: 'profit' },
            { data: 'profit_margin', name: 'profit_margin' },
            {% endif %}
            { data: 'actions', name: 'actions' },
        ]
        {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
        order_false = [-1, -2, -3, -5];
        {% endif %}
        
        $('#dispatched_table').DataTable({
            columns: columns,
            columnDefs: [
                {targets: to_center, className: "dt-center"},
                {orderable: false, targets: order_false},
                {targets: invisible_columns, visible: role }
            ],
            ajax: {
                url:'{% url "order:order_list_dispatched_ajax" %}',
                type: 'get',
                data: {
                    "customer": $("#filter_customer").val()
                },
            },
            processing: true,
            serverSide: true,
            order: [0 , "desc"],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>',
                "emptyTable": "No matching records found",
            },
            rowCallback: function(nRow, aData, iDisplayIndex) {
                var oSettings = this.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });
    }

    function initialize_delivered_table(){
        var columns = [
            { data: 'id', name: 'id' },
            { data: 'order_id', name: 'order_id' },
            { data: 'created_at', name: 'created_at' },
            {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
            { data: 'company', name: 'company' },
            {% endif %}
            { data: 'customer', name: 'customer' },
            { data: 'created_by', name: 'created_by' },
            { data: 'total_products', name: 'total_products' },
            { data: 'grand_total', name: 'grand_total' },
            {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.SUPER_ADMIN %}
            { data: 'profit', name: 'profit' },
            { data: 'profit_margin', name: 'profit_margin' },
            {% endif %}
            { data: 'actions', name: 'actions' },
        ]
        
        $('#delivered_table').DataTable({
            columns: columns,
            columnDefs: [
                {targets: to_center, className: "dt-center"},
                {orderable: false, targets: order_false},
                {targets: invisible_columns, visible: role }
            ],
            ajax: {
                url: '{% url "order:order_list_delivered_ajax" %}',
                type: 'get',
                data: {
                    "customer": $("#filter_customer").val()
                },
            },
            processing: true,
            serverSide: true,
            order: [0 , "desc"],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>',
                "emptyTable": "No matching records found",
            },
            rowCallback: function(nRow, aData, iDisplayIndex) {
                var oSettings = this.fnSettings();
                $("td:first", nRow).html(oSettings._iDisplayStart + iDisplayIndex + 1);
                return nRow;
            },
        });
    }

    $(document).on('click', '#clear_search_filter', function () {
        {% if request.user.is_superuser or requser.user.role == "Super Admin" %}
		$("#filter_company").val(null).trigger('change');
        {% endif %}
		$("#filter_customer").val(null).trigger('change');
	});

    $(document).ready(function () {
        initialize_approved_table();
        {% if not request.user.role == "Warehouse Manager" %}
        initialize_requested_table();
        initialize_cancelled_table();
        {% endif %}
        initialize_loading_table();
        initialize_shipped_table();
        initialize_dispatched_table();
        initialize_delivered_table();
    });

    function HtmlToPrint(source) {
        return "<html><head><scri" + "pt>function step1(){\n" +
        "setTimeout('step2()', 10);}\n" +
        "function step2(){window.print();window.close()}\n" +
        "</scri" + "pt></head><body onload='step1()'>\n" +
        source + "</body></html>";
    }

    filter_id.on("change", function() {
        {% if not request.user.role == "Warehouse Manager" %}
        $("#approved_table, #requested_table, #cancelled_table, #loading_table, #shipped_table, #dispatched_table, #delivered_table").DataTable().destroy();
        {% else %}
        $("#approved_table, #loading_table, #shipped_table, #dispatched_table, #delivered_table").DataTable().destroy();
        {% endif %}

        initialize_approved_table();
        {% if not request.user.role == "Warehouse Manager" %}
        initialize_requested_table();
        initialize_cancelled_table();
        {% endif %}
        initialize_loading_table();
        initialize_shipped_table();
        initialize_dispatched_table();
        initialize_delivered_table();
    });

</script>

<script src="{% static 'assets/js/htmx_1.9.4.min.js' %}"></script>
<script>
    $(document).on('click', '.order_history' , function (e) {
        let url = $(this).data("url");

        htmx.ajax('GET', url, {
            target:'#order_history_list',
            swap:'innerHTML',
        });
    });
</script>
{% endblock %}