{% load static %}

<table class="table table-bordered text-wrap">
    <thead>
        <tr>
            <th class="text-center">Sr. No.</th>
            <th class="text-center">Type</th>
            <th class="text-center w-50">Job Description</th>
            <th class="text-center">Status</th>
            <th class="text-center">Approved Quantity</th>

            {% if order.status == order.ACCEPTED or order.status == order.LOADING %}
                <th class="text-center">
                    <button type="button" data-url="{% url 'order:add_job_work' %}" data-product_id="{{ order_product_id|safe }}" class="btn btn-primary p-1 py-1 add_jobwork"><i class="fa fa-plus text-white"></i></button>
                </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for item in job_work_list %}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td class="text-center">{{item.type|title}}</td>
            <td class="text-center d-flex justify-content-center">
                <table class="text-center">
                    {% if item.voice_note %}
                    <tr>
                        <th style="width:100px">Voice note :</th>
                        <td>
                            <audio controls style="height:30px; width:260px">
                                <source src="{{ item.voice_note.url }}" type="audio/ogg">
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                    {% endif %}
                    {% if item.file %}
                    <tr>
                        <th>File / Photo :</th>
                        <td>
                            <a target="_blank" href="{{ item.file.url }}">
                                <img src="{% static 'photos/jobwork/pdf.png' %}" style="height:50px;width:auto">
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if item.comment %}
                    <tr>
                        <th>Comment : </th>
                        <td class="text-start">{{item.comment|safe}}</td>
                    </tr>
                    {% endif %}
                </table>
            </td>
            <td class="py-3">
                {% if item.status == item.PACKED %}
                <button class="btn btn-success btn-sm disabled">{{ item.PACKED|capfirst }}</button>
                {% elif item.status == item.APPROVED %}
                <button class="btn btn-primary btn-sm disabled">{{ item.APPROVED|capfirst }}</button>
                {% else %}
                <button class="btn btn-warning btn-sm disabled">{{ item.REQUESTED|capfirst }}</button>
                {% endif %}
            </td>
            <td>
                {% if item.total_approved_quantity > 0 %}{{ item.total_approved_quantity }}{% else %}-{% endif %}
            </td>
            {% if item.status == item.REQUESTED %}
            <td>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0)" class="jobwork_history mx-1" data-url="{% url 'order:jobwork_history_list' item.id %}" data-bs-target="#JobworkHistoryModal" data-bs-toggle="modal" title="History"><i class="fa fa-history text-info"></i></a>
                    <a href="javascript:void(0)" class="update_jobwork mx-1" data-url="{% url 'order:update_job_work' item.id %}" title="Update"><i class="fa fa-edit text-primary"></i></a>
                    <a href="javascript:void(0)" class="detail_jobwork mx-1" data-url="{% url 'order:detail_job_work' item.id %}" title="Detail" data-bs-target="#JobworkDetailModal" data-bs-toggle="modal"><i class="fa fa-eye text-primary"></i></a>
                    {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.WAREHOUSE_MANAGER or request.user.is_superuser %}
                    <a href="javascript:void(0)" class="approve_jobwork mx-1" data-url="{% url 'order:approve_job_work_ajax' item.id %}" data-bs-target="#JobWorkApproveModal" data-bs-toggle="modal" title="Approve"><i class="fa fa-check text-primary"></i></a>
                    {% endif %}
                </div>
            </td>
            {% elif item.status == item.APPROVED %}
            <td>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0)" class="jobwork_history mx-1" data-url="{% url 'order:jobwork_history_list' item.id %}" data-bs-target="#JobworkHistoryModal" data-bs-toggle="modal" title="History"><i class="fa fa-history text-info"></i></a>
                    <a href="javascript:void(0)" class="detail_jobwork mx-1" data-url="{% url 'order:detail_job_work' item.id %}" title="Detail" data-bs-target="#JobworkDetailModal" data-bs-toggle="modal"><i class="fa fa-eye text-primary"></i></a>
                </div>
                {% if request.user.role == request.user.COMPANY_ADMIN or request.user.role == request.user.WAREHOUSE_MANAGER or request.user.is_superuser %}
                <div class="mt-2">
                    <input type="number" name="pack_quantity" id="id_pack_quantity_{{ item.id }}" class="form-control pack_qty" max="{{ item.get_total_qty_for_packing }}" value="{{ item.get_total_qty_for_packing }}" />
                    <button data-job_work_id="{{ item.id }}" data-url="{% url 'order:pack_job_work_ajax' %}" class="btn btn-success btn-sm mt-2 packed_jobwork">Pack</button>
                </div>
                {% endif %}
            </td>
            {% else %}
            <td>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0)" class="jobwork_history mx-1" data-url="{% url 'order:jobwork_history_list' item.id %}" data-bs-target="#JobworkHistoryModal" data-bs-toggle="modal" title="History"><i class="fa fa-history text-info"></i></a>
                    <a href="javascript:void(0)" class="detail_jobwork mx-1" data-url="{% url 'order:detail_job_work' item.id %}" title="Detail" data-bs-target="#JobworkDetailModal" data-bs-toggle="modal"><i class="fa fa-eye text-primary"></i></a>
                </div>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No job work found.</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
