{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="login-form">
    <form method="post" enctype="multipart/form-data" novalidate id="change_password_form">
        {% csrf_token %}
        <div class="col-sm-12 col-lg-12 col-12">
            <div class="form-group" id="div_id_oldpassword">
                <label for="id_oldpassword" class="form-label">Current Password:</label>
                <div>
                    <input class="form-control form-input" type="password" name="oldpassword" autocomplete="current-password" required id="id_oldpassword">
                    <div style="display: block; color:red;" id="oldpassword_error_div"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12 col-12">
            <div class="form-group" id="div_id_password1">
                <label for="id_password1" class="form-label">New Password:</label>
                <div>
                    <input class="form-control form-input" type="password" name="password1" autocomplete="new-password" required id="id_password1">
                    <div style="display: block; color:red;" id="password1_error_div"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12 col-12">
            <div class="form-group" id="div_id_password2">
                <label for="id_password2" class="form-label">Confirm Password:</label>
                <div>
                    <input class="form-control form-input" type="password" name="password2" required id="id_password2">
                    <div style="display: block; color:red;" id="password2_error_div"></div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" name="action" id="password_change_btn">Save</button><br>
            <div id="error_div" style="color:red;"></div>
        </div>
    </form>
</div>
{% endblock %}

