{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Warehouse Management Login Page</title>
    {% comment %} <title>{% block head_title %}{% endblock %}</title> {% endcomment %}
    {% comment %} {% block extra_head %}
    {% endblock %} {% endcomment %}
    		<!--- Favicon --->
		<link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/x-icon"/>

		<!-- Bootstrap css -->
		<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet" id="style"/>

		<!--- Style css --->
		<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet">

		<!--- Icons css --->
		<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">

		<!--- Animations css --->
  </head>
  <body>
    {% block body %}
		<!-- Loader -->
		<div id="global-loader">
			<img src="{% static 'assets/img/loaders/loader-4.svg' %}" class="loader-img" alt="Loader">
		</div>
		<!-- /Loader -->
    
    {% comment %} <div>
      <strong>{% trans "Menu:" %}</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">{% trans "Change Email" %}</a></li>
        <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
        <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        {% endif %}
      </ul>
    </div> {% endcomment %}
    {% block content %}
    {% if messages %}
    <div>
      <strong>{% trans "Messages:" %}</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    		<!--- JQuery min js --->
		<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

		<!--- Bootstrap Bundle js --->
		<script src="{% static 'assets/plugins/bootstrap/popper.min.js' %}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

		<!--- Ionicons js --->
		<script src="{% static 'assets/plugins/ionicons/ionicons.js' %}"></script>

		<!--- Moment js --->
		<script src="{% static 'assets/plugins/moment/moment.js' %}"></script>

		<!--- Eva-icons js --->
		<script src="{% static 'assets/js/eva-icons.min.js' %}"></script>

		<!--themecolor js-->
		<script src="{% static 'assets/js/themecolor.js' %}"></script>

		<!--- Custom js --->
		<script src="{% static 'assets/js/custom.js' %}"></script>
  </body>
</html>
