<div class="row p-2" style="width: 230px;">

    <div class="col-12 text-start " >
        <div class="row" >

            <div class="col-12 row mt-2" style=" margin-left: 0px;">
                <h6>30 Days:</h6>
                <div class="col-7" style="margin-left: 10px;">QTY Sale :</div>
                <div class="col-4">{{day_30_qty}}</div>

                <div class="row">
                    <div class="col-7" style="margin-left: 10px;">Amount Sale :</div>
                    <div class="col-4">$ {{day_30_total}}</div>
                </div>
            </div>

            <div class="col-12 row" style="margin-left: 0px;"><br></div>

            <div class="col-12 row" style="margin-left: 0px;">
                <h6>90 Days:</h6>
                <div class="col-7" style="margin-left: 15px;">QTY Sale :</div>
                <div class="col-4">{{day_90_qty}}</div>
                
                <div class="row" style="margin-left: 4px; border-bottom: 1px solid rgb(164, 199, 238);">
                    <div class="col-7">Amount Sale :</div>
                    <div class="col-4">$ {{day_90_total}}</div>
                </div>
            </div>

        </div>
    </div>

</div>


